body {
    font-family: Poppins;
}

h1 {
    color: red;
}

p {
    color: black;
}

h {
    font-weight: bolder;
    color: darkgreen;
}

.mike-1 p{
    color: dodgerblue;
    font-weight: bolder;
    font-size: 30px;
}